.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 5px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 12px;
  background-color: linen;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 30px;
  padding-top: 20px;
}

.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: khaki;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 200px;
  padding-top: 12px;
  border: white solid 2px;
}

.card3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  background-color: palevioletred;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 30px;
  padding-top: 12px;
  color: white;
  border: white solid 2px;
}

.card4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-basis: 20px;
}

.card5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 400px;
  flex-grow: 1;
  margin: 15px;
}

.image-petite {
  width: 150px;
  border: 2px solid navajowhite;
  padding: 1px;
}

.image-grande {
	width: 360px;
}

.card p {
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 10px;
}