.footer{
	background-color: khaki;
	margin-top: 25px;
	padding-bottom: 25px;
	padding-top: 5px;
}

.element{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo{
	font-size: 30px;
}

