.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  position: fixed;
  width: 100%;
  z-index:1000;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: palevioletred;
  flex-direction: row;
  flex-grow: 1;
  color: white;

}